<nav>
    <ul class="pagination pagination-lg">
        <f:if condition="{pagination.previousPageNumber} && {pagination.previousPageNumber} >= {pagination.firstPageNumber}">
            <f:then>
                <li class="page-item">
                    <a class="page-link" href="{f:uri.action(arguments:{currentPage: 1,overwriteDemand:overwriteDemandArray})}" title="{f:translate(key:'paginate_first')}">
                        {f:translate(key:'paginate_first')}
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="{f:uri.action(arguments:{currentPage: pagination.previousPageNumber,overwriteDemand:overwriteDemandArray})}" title="{f:translate(key:'paginate_previous')}">
                        {f:translate(key:'paginate_previous')}
                    </a>
                </li>
            </f:then>
            <f:else>
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">{f:translate(key:'paginate_first')}</a>
                </li>
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">{f:translate(key:'paginate_previous')}</a>
                </li>
            </f:else>
        </f:if>
        <f:if condition="{pagination.hasLessPages}">
            <li class="page-item"><a class="page-link" href="#">…</a></li>
        </f:if>
        <f:for each="{pagination.pages}" as="page">
            <f:if condition="{page.isCurrent}">
                <f:then>
                    <li class="page-item active"><a class="page-link" href="#">{page.number}</a></li>
                </f:then>
                <f:else>
                    <li class="page-item">
                        <a class="page-link" href="{f:uri.action(arguments:{currentPage: page.number,overwriteDemand:overwriteDemandArray})}" title="{page.number}">
                            {page.number}
                        </a>
                    </li>
                </f:else>
            </f:if>
        </f:for>
        <f:if condition="{pagination.hasMorePages}">
            <li class="page-item"><a class="page-link" href="#">…</a></li>
        </f:if>
        <f:if condition="{pagination.nextPageNumber} && {pagination.nextPageNumber} <= {pagination.lastPageNumber}">
            <f:then>
                <li class="page-item">
                    <a class="page-link" href="{f:uri.action(arguments:{currentPage: pagination.nextPageNumber,overwriteDemand:overwriteDemandArray})}" title="{f:translate(key:'paginate_next')}">
                        {f:translate(key:'paginate_next')}
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="{f:uri.action(arguments:{currentPage: pagination.lastPageNumber,overwriteDemand:overwriteDemandArray})}" title="{f:translate(key:'paginate_last')}">
                        {f:translate(key:'paginate_last')}
                    </a>
                </li>
            </f:then>
            <f:else>
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">{f:translate(key:'paginate_next')}</a>
                </li>
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">{f:translate(key:'paginate_last')}</a>
                </li>
            </f:else>
        </f:if>
    </ul>
</nav>